/* Variablen */
:root {
    --light-bg-color: #FFFFFF;
    --light-font-color: #000000;
    --light-link-color: #6982A2;

    --dark-bg-color: #3B3B3D;
    --dark-font-color: #FFFFFF;
    --dark-link-color: #8795A7;
}

/* Globale Styles */
* {
    font-family: "system-ui", Helvetica, sans-serif, sans-serif;
    font-size: 1.05em;
}
body {
    margin: 0px;
    background: var(--light-bg-color) !important;
    color: var(--light-font-color) !important;
}
button {
    height: 30px;
    outline: none;
}
ul {
    margin: 0em;
    margin-top: 0.2em;
    padding-left: 2em;
}
li {
    margin-bottom: 0.1em;
}
input[type=text],
input[type=password] {
    box-sizing : border-box;
}
a, .link {
    border-bottom: 1px solid var(--light-link-color);
    text-decoration: none;
    color: var(--light-link-color);
    padding-bottom: 1px;
    cursor: pointer;
}
.link-container {
    padding-bottom: 2px;
}
.flex {
    display: flex;
}
.flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.footer {
    font-size: 0.9em;
}
.hidden {
    display: none;
}

/* Style für Popup */
div.popup {
    min-width: 300px;
}
.popup-header-title {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0.2em;
}
.popup-panel {
    margin: 16px;
}
.popup-panel:nth-of-type(1) {
    margin-bottom: 0px;
}
.popup-app-logo {
    display: inline-block;
}
.popup-app-logo img {
    height: 37px;
}
.popup-app-header {
    padding-left: 14px;
    box-sizing: border-box;
    flex-grow: 1;
}
#popup-app-header-title {
    font-weight: 600;
    padding-bottom: 2px;
    font-size: 0.98em;
}
#popup-app-header-subtitle {
    font-size: 0.8em;
}
.popup-help {
    float:right;
}
.popup-message {
    display: table;
    width: 450px;
}
.popup-message-title-container, .popup-message-text-container {
    display: table-row;
}
.popup-message-title-icon, .popup-message-title, .popup-message-text-indent, .popup-message-text {
    display: table-cell;
}
.popup-message-title-icon {
    padding-left: 0.2em;
    padding-right: 0.5em;
}
.popup-message-title {
    font-weight: 600;
    font-size: 0.9em;
    padding-bottom: 0.3em;
}
.popup-message-text {
    font-weight: normal;
    font-size: 0.9em;
    padding-bottom: 0.4em;
}
.popup-description {
    font-size: 0.9em;
    margin-bottom: 0.3em;
}
.popup-downloadpath {
    font-size: 0.9em;
    margin-top: 0.4em;
    width: 100%;
}

/* Style für Erweiterungsoptionen */
.options {
    margin: 1% 2%;
}
.options-header-title {
    font-weight: 600;
    font-size: 1.9em;
    margin-bottom: 0.7em;
}
.options-header-subtitle {
    font-weight: 500;
    font-size: 1.3em;
}
.options-option {
    padding-top: 1em;
}
.options-block {
    padding-top: 1em;
}
.options-block:nth-of-type(1) {
    padding-top: 0em;
}
.options-headline {
    padding-top: 1em;
    font-size: 1.1em;
    font-weight: 500;
}
.options-input {
    width: 50%;
}

/* Globale Styles für dunkles Design */
@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-bg-color) !important;
        color: var(--dark-font-color) !important;
    }
    a {
        border-color: var(--dark-link-color);
        color: var(--dark-link-color);
    }
}